<router-outlet></router-outlet>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/app.component.scss" rel="stylesheet">
    </head>
    <body>
        <h1 class="centeredText white">Naim Neman</h1> 
    <div class="centeredFlex">
        <img src="/assets/picture_2022-09-15_18-36-34.jpg" alt="Guapetón" id="profilePic">
    </div>
    <p class="centeredText varelaFont"><em>aka</em><strong> @dummy1</strong></p>
    <div class="centeredFlex">
        <p id="contact" class="varelaFont">Contacto: https://twitch.tv/vegetagaymer</p>
    </div>
    </body>
</html>

